# Introduction to List

In [1]:
a = []

In [2]:
print(a)

[]

In [3]:
print(type(a))

<class 'list'>

In [4]:
a = [1,2,3,4]
print(a)

[1, 2, 3, 4]

In [5]:
print(type(a))

<class 'list'>

In [6]:
b = [True,'2',3.0,4]

In [7]:
b

[True, '2', 3.0, 4]

# List Method

In [8]:
li = ['Apple','Banana','Orange','Strawberry']
print(li)

['Apple', 'Banana', 'Orange', 'Strawberry']

## Accesing List Method

In [9]:
# Apple
li[0]

'Apple'

In [10]:
# Banana
li[1]

'Banana'

In [11]:
# Strawberry
li[-1]

'Strawberry'

In [12]:
# Strawberry
li[3]

'Strawberry'

In [13]:
try:
    li[4]
except:
    print('List index out of range')

List index out of range

In [14]:
# Apple + Banana

li[0:2]

['Apple', 'Banana']

In [15]:
li[:2]

['Apple', 'Banana']

In [16]:
li[1:]

['Banana', 'Orange', 'Strawberry']

## List Append

In [17]:
li.append('Watermelon')
li

['Apple', 'Banana', 'Orange', 'Strawberry', 'Watermelon']

In [18]:
li.insert(1,'Guava')
li

['Apple', 'Guava', 'Banana', 'Orange', 'Strawberry', 'Watermelon']

In [19]:
lib = ['Pineapple','Papaya']
li.extend(lib)
li

['Apple',
 'Guava',
 'Banana',
 'Orange',
 'Strawberry',
 'Watermelon',
 'Pineapple',
 'Papaya']

## Removing

In [20]:
li.remove('Papaya')
li

['Apple', 'Guava', 'Banana', 'Orange', 'Strawberry', 'Watermelon', 'Pineapple']

In [21]:
li.pop(-1)
li

['Apple', 'Guava', 'Banana', 'Orange', 'Strawberry', 'Watermelon']

In [22]:
li.pop()
li

['Apple', 'Guava', 'Banana', 'Orange', 'Strawberry']

In [23]:
del li[-1]
li

['Apple', 'Guava', 'Banana', 'Orange']

In [24]:
li_copy = li.copy()
li_copy

['Apple', 'Guava', 'Banana', 'Orange']

In [25]:
li_copy.clear()
li_copy

[]

In [26]:
del li_copy

try:
    li_copy
except:
    print('undefined li_copy')

undefined li_copy

## Change List

In [27]:
li

['Apple', 'Guava', 'Banana', 'Orange']

In [28]:
li[1] = 'Papaya'
li

['Apple', 'Papaya', 'Banana', 'Orange']

In [29]:
li[:2] = ['Pineapple','Starfruit']
li

['Pineapple', 'Starfruit', 'Banana', 'Orange']

In [30]:
li[:2] = ['Apple','Papaya','Dragonfruit']
li

['Apple', 'Papaya', 'Dragonfruit', 'Banana', 'Orange']

## Others Method

### Copy

In [31]:
lib = li.copy()
lib

['Apple', 'Papaya', 'Dragonfruit', 'Banana', 'Orange']

### Sort

In [32]:
new = [3,5,1,9,4]
new.sort()
new

[1, 3, 4, 5, 9]

In [33]:
new = [3,5,1,9,4]
new.sort(reverse=True)
new

[9, 5, 4, 3, 1]

### Count

In [34]:
new.count(5)

1

### How many value in list ?

In [35]:
len(new)

5

# More advance List Topic

## List Comprehension
### Prerequisite = For Loop

In [36]:
# Add to LC i, if i is in between 1 and 6

LC = [i for i in range(1,6)]
LC

[1, 2, 3, 4, 5]

In [37]:
LCA = ['Chicken','Cat','Dog']

# Add to LC list if there is an 'a' in every member of LCA

LC = [i for i in LCA if "a" in i]
LC

['Cat']