### Built-in Function

In [1]:
sentences = 'Hello World'

print(type(sentences))

<class 'str'>

In [2]:
sentences.count('H')

1

### User Defined Function

#### Introduction to Function

In [3]:
# Introduction to Function

def Function():
    print('This function is already working')

In [4]:
Function

In [5]:
# Use Function

Function()

This function is already working

#### Function and Parameter

In [6]:
# Using Parameter

def Function(name):
    print(name)

Function

In [7]:
Function('Kurapika')

Kurapika

#### Multiple Parameter

In [8]:
# Multiple Parameter

def Function(first_name,last_name):
    print(first_name + last_name)
    
Function

In [9]:
Function('Kurapika','Zoldyck')

KurapikaZoldyck

#### Defined Parameter Value

In [10]:
# Defined Parameter Input

def Function(first_name,last_name='Zoldyck'):
    print(first_name + ' ' +last_name)
    
Function

In [11]:
Function('Killua')

Killua Zoldyck

In [12]:
def Triangle(a=2,t=2):
    area = (a * t) / 2
    print('The area of triangle is : ',area)

Triangle

In [13]:
Triangle()

The area of triangle is :  2.0

In [14]:
def Triangle(a=2,t=2):
    area = (a * t) / 2
    print('The area of triangle is : ',area)

Triangle(3,3)

The area of triangle is :  4.5

#### Return Keyword

In [15]:
# Return Keyword

def Return():
    greet = 'Good Afternoon'
    return greet

Return

In [16]:
Return()

'Good Afternoon'

In [17]:
# Return keyword, can end function

def Tester():
    greet = 'Hello'
    return greet
    print(greet)
    
Tester()

'Hello'

In [18]:
# Multiple Return

def Beam(l,w,h):
  volume = l * w * h
  output = (l,w,h,volume)
  return output

l,w,h,out = Beam(2,2,2)
print(l,w,h,out)

2 2 2 8

In [19]:
# Unlimited Parameter

def Unlimited(*args):
    for i in args:
        print(i)
        
Unlimited(1,'2',[1,2,3])

1
2
[1, 2, 3]

In [20]:
def Unlimited(*args):
    for i in args:
        print(i)
        
Unlimited(1,'2',[1,2,3],True)

1
2
[1, 2, 3]
True

In [21]:
# Keyword Parameter

def Keyword(**kwargs):
    for ind,val in kwargs.items():
        print(ind,val)
        
Keyword(a=1,b=True)

a 1
b True

In [22]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/KurapikaZoldyck/KurapikaZoldyck/main/%23%20-%20Data/tweets.csv')
data[['lang']].head(2)

  lang
0   en
1   en

In [23]:
data['lang'].value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64

In [24]:
def Language(column):
    langs_count = {}
    
    col = column
    
    for entry in col:
        if entry in langs_count.keys():
            langs_count[entry]+=1
        else:
            langs_count[entry]=1
            
    return langs_count

print(Language(data['lang']))

{'en': 97, 'et': 1, 'und': 2}

In [25]:
# Nested Function

def Nested():
    
    def Nested2():
        y = "This is second function"
        return y
    
    return Nested2()

Nested()

'This is second function'

In [26]:
def Nested(word1,word2):
    
    def Secondary(word):
        return word.upper()
    
    return Secondary(word1), Secondary(word2)

Nested('First','Second')

('FIRST', 'SECOND')

In [30]:
def Outside(n):
    
    def Multiply(b):
        return n * b
    
    return Multiply

Outside

In [31]:
Outside(2)

In [28]:
two = Outside(2)
two

In [29]:
two(3)

6

In [32]:
def Language(dataframe,column='lang'):
    langs_count = {}
    
    col = dataframe[column]
    
    for entry in col:
        if entry in langs_count.keys():
            langs_count[entry]+=1
        else:
            langs_count[entry]=1
            
    return langs_count

print(Language(data))
print(Language(data,'source'))

{'en': 97, 'et': 1, 'und': 2}
{'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

A lambda function can take any number of arguments, but can only have one expression

In [33]:
x = lambda a : a + 10
print(x(5))

15

In [34]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [35]:
beam = lambda l,w,h: l * w * h
print(beam(2,2,2))

8

In [36]:
def triangle(p):
    return lambda l : p * l

triangle

In [37]:
three = triangle(3)
three

In [38]:
three(2)

6

In [39]:
rai = lambda n : n ** 2
rai(2)

4