In [ ]:
sentences = 'Hello World'

print(type(sentences))

HELLO WORLD
<class 'str'>

In [ ]:
sentences.count('H')

1

In [ ]:
# Introduction to Function

def Function():
    print('This function is already working')

In [ ]:
# Use Function

Function()

This function is already working

In [ ]:
# Using Parameter

def Function(name):
    print(name)

In [ ]:
Function('Kurapika')

Kurapika

In [ ]:
# Multiple Parameter

def Function(first_name,last_name):
    print(first_name + last_name)

In [ ]:
Function('Kurapika','Zoldyck')

KurapikaZoldyck

In [ ]:
# Defined Parameter Input

def Function(first_name,last_name='Zoldyck'):
    print(first_name + ' ' +last_name)

In [ ]:
Function('Killua')

Killua Zoldyck

In [ ]:
def Triangle(a=2,t=2):
    area = (a * t) / 2
    print('The area of triangle is : ',area)

Triangle()

The area of triangle is :  2.0

In [ ]:
def Triangle(a=2,t=2):
    area = (a * t) / 2
    print('The area of triangle is : ',area)

Triangle(3,3)

The area of triangle is :  4.5

In [ ]:
# Return Keyword

def Return():
    greet = 'Good Afternoon'
    return greet

In [ ]:
Return()

'Good Afternoon'

In [ ]:
# Return keyword, can end function

def Tester():
    greet = 'Hello'
    return greet
    print(greet)
    
Tester()

'Hello'

In [5]:
# Multiple Return

def Beam(l,w,h):
  volume = l * w * h
  output = (l,w,h,volume)
  return output

l,w,h,out = Beam(2,2,2)
print(l,w,h,out)

2 2 2 8

In [ ]:
# Unlimited Parameter

def Unlimited(*args):
    for i in args:
        print(i)
        
Unlimited(1,'2',[1,2,3])

1
2
[1, 2, 3]

In [ ]:
def Unlimited(*args):
    for i in args:
        print(i)
        
Unlimited(1,'2',[1,2,3],True)

1
2
[1, 2, 3]
True

In [ ]:
# Keyword Parameter

def Keyword(**kwargs):
    for ind,val in kwargs.items():
        print(ind,val)
        
Keyword(a=1,b=True)

a 1
b True

In [7]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/KurapikaZoldyck/KurapikaZoldyck/main/%23%20-%20Data/tweets.csv')
data[['lang']].head(2)

  lang
0   en
1   en

In [8]:
data['lang'].value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64

In [10]:
def Language(column):
  langs_count = {}
  col = column
  for entry in col:
    if entry in langs_count.keys():
      langs_count[entry]+=1
    else:
      langs_count[entry] = 1
  return langs_count

print(Language(data['lang']))

{'en': 97, 'et': 1, 'und': 2}