In [1]:
x = 5

if x == 5:
    print('Lima')

Lima

In [2]:
x = 10

if x == 5:
    print('Lima')
else:
    print('Selain Lima')

Selain Lima

In [3]:
x = 10

if x == 5:
    print('Lima')
elif x == 10:
    print('Sepuluh')
else:
    print('Selain 5 dan 10')

Sepuluh

### Ternary Operators

In [4]:
x = 5
if x == 5 : print('Lima')

Lima

In [5]:
x = 10
print('Lima') if x == 5 else print('Sepuluh')

Sepuluh

In [6]:
x = 10
print('Lima') if x == 5 else print('Sepuluh') if x == 10 else print('Selain 10 dan 5')

Sepuluh

### Comparison Operator in If Else

In [7]:
x = 10
y = 5

if x > y:
    print('Ten > Five')
else:
    print('Impossible')

Ten > Five

In [8]:
x = 10
y = 11

if x > y:
    print('Ten > Five')
else:
    print('Impossible')

Impossible

In [9]:
x = 10
y = 5

if x < y:
    print('Ten < Five')
elif x > y:
    print('Ten > Five')
else:
    print('Impossible')

Ten > Five